body {
    background: #f1f4f5; 
}
* {
    font-family: 'Raleway';
}
.container {
    /* border: solid black 1px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    padding: 0;
    /* height: 90vh; */
    /* height: auto; */
}
 .header-one {
    padding-top: 10px;
    padding-bottom: 5px;
    /* background: #FFFFFF; */
    background-color:white;
    color: #015c72; 
    border-bottom: 3px solid #015c72;
    text-align: left;
    font-style: italic;
    width: 100%;
}
 .header-two {
    background-color: #888C8D;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid #015c72;
    color: white;
    text-align: center;
}
.header-text {
   margin-bottom: 5px;
}
.header-img {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

article {
    height: 90%;
    background-image: url("birthdayCake7.png"); 
    background-color: #337280;
   
    background-size: cover;
    background-repeat: no-repeat; 
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    text-align: center
}
footer {
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   background-color: #888C8D;
    border-top: 3px solid #015C72;

}

   h4 {
       color: white;
   }
   
/* 
 img  {
     background-color: #337280; 
    opacity: 0.5;
    position: center;
    background-size: cover;
    z-index: 9;
}  */

label {
    font-weight: normal; 
    font-size: 1.5em;
}
input {
    border: solid white 1px;
    border-radius: 3px;
    
    background: transparent;
    font-size: 1.5em;
    text-align: center; 
    padding-left: 10px;
    margin-left: 0;
}
.display-day{
    color: #FFFFFF;
    font-size: 1.25;
}

label, input {
    
    color: white;
    font-weight: 575;
}
.button {
    /* color: white; */
    background: #FFFFFF;
   color :#337280;
    font-size: 1.25em;
    font-weight: ;
    border:  2px solid white;
   padding-top: 0;
   padding-bottom:0; 
   width: 100%;
   border-radius: 30px;
}
.ten, .seven {
    margin-left: 0;
}

#day-of-week-box {
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    height: 40px;
}
ul {
    margin-bottom: 0;
}
li {
    list-style-type: none;
    min-height: 30px;
    margin-bottom: 0;
    font-size: 1.5em;
    color: white;
}

.display-area {
    border: 2px solid black;
    box-sizing: border-box;
 font-family: sans-serif;
 font-size: 1em;
 color: white;
    border-radius: 3px;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #888C8D;
}
.display-area h2 {
    font-size: 1.5em;
}
.display-area li {
    font-size: 1em;

}

    @media screen and (max-width: 770px) {
  body{
    margin: 0 0 0 0;
    padding:0;
    width: 100%;
    height:auto;
    }
   * {
     font-size: 1em;
     }
   .container {
      width: 100vw;
      margin: 0;
      /* padding: 0; */
      height: 100%;
      box-shadow: none;
   }
   .display-area {
       width: 100%;
       margin: 0;
       padding-left:4px;
       padding-right:4px; 
       
   }
   #day-of-week-box  {
       height: auto;
   }
   ul #displayWiki {
       /* width: auto; */
   }

   article {
       width: auto;
     margin:0;
   }
   footer {
  
   }

    }