header {
    display: flex;
    height: 100px;
    background: #FFFFFF;
    border-bottom: 4px solid #015C72;
}
h3 {
    color: #00222A;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-left: 100px;
    font-family: 'Princess Sofia', cursive;
}
.container-1 {
    display: flex;
    height: 400px;
    border-bottom: 3px solid #015C72;
}
.container-stacked{
    flex-grow: 1;
}
.container-right-side-image {
    flex: 0 0 500px;
    flex-wrap: wrap;
}
.container-1 div {
    padding: 10px;
    background: #337280;
}
.box-3{
    border-style: solid;
    box-sizing: border-box;
    width: auto;
    border-width: 2px;
    border-radius: 3px;
    border-color: black;
}
.box-4 {
    margin-left: 50px;
    margin-top: 30px;
}
img {
    width: 200px;
    justify-self: center;
    border: 3px solid #00222A;
    box-shadow: 0 10px 10px -4px black;    
}
body {
    font-family: 'Source Sans Pro';
    background: #888C8D;
    margin: 0;
    color: white;
}

label {
    font-size: 30px;
}

input[type=date] {
    border: 2px solid white;
    background: transparent;
    box-sizing:border-box;
    border-radius: 3px;
    color: white;
    font-family: inherit;
    margin-left: 5px;
    font-size: 100%;
}

.button {
    height: 20px;
    width: 20px;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    padding: 3px 7px 3px 7px;
    text-decoration: none;
    font-family: inherit;
    font-size: 100%;
}
ul {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 20px;
    list-style-type: none;
}
ul li span {
    display: flex;
    font-size: 1.4em;
    margin-bottom: 1em;
    color: white;
}

#displayDay {
    color: white;
    font-size: 30px;
}

@media only screen and (max-width: 800px) {
    
    .container-1,
    header, footer, .header-text, ul li span {
       text-align: center;
       padding-left: 0;
       flex-direction: column;
    }
    ul li span {
        min-height: 20px;
    }
    .box-4 {
        margin-left: 0px;
    }
    img {
        width: 85px;
    }
    
}